[submodule "cpp/cpr"]
	path = cpp/cpr
	url = https://github.com/whoshuu/cpr.git
[submodule "cpp/json"]
	path = cpp/json
	url = https://github.com/nlohmann/json.git
[submodule "cpp/crow"]
	path = cpp/crow
	url = git@github.com:ipkn/crow.git
